@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    ViewData["active"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3 class="display-5">To Your Online Scripture Journal!</h3>
    <p><a href="lds.org"><img src="~/imgs/ScriptureStudy.png" alt=""></a></p>
</div>
